.eight {
  position: relative;
  width: 390px;
  padding: 15% 7% 10%;
}

.eight_row {
  display: block;
  padding: 5% 1% 5%;
  color: #ffffff;
}

.eight_title {
  width: auto;
  height: auto;
  padding: 2% 3% 10%;
  margin-right: 0;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: -0.011em;
  text-align: left;
}

.eight_description {
  padding: 2% 3% 1%;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 19.8px;
  letter-spacing: -0.011em;
  text-align: left;
}

.eight_description_text {
  color: #ffffff;
  margin-bottom: 5%;
  justify-content: space-between;
  text-align: left;
}
