.eight {
  position: relative;
  width: 992px;
  padding: 0 5% 0;
}

.eight_row {
  display: flex;
  padding: 5% 1% 5%;
  color: #ffffff;
}

.eight_title {
  width: 45%;
  height: 5.36%;
  margin-right: 0%;
  font-family: 'Neue Montreal';
  font-size: 35px;
  font-weight: 500;
  line-height: 35px;
  letter-spacing: -0.011em;
  text-align: left;
}

.eight_description {
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.011em;
  text-align: left;
}

.eight_description_text {
  color: #ffffff;
  margin-bottom: 5%;
  justify-content: space-between;
  text-align: left;
}
