.ten {
  position: relative;
  width: 1920px;
  padding: 0 5% 0;
}

.ten_row {
  display: flex;
  padding: 5% 1% 5%;
}

.ten_title {
  height: 5.36%;
  margin-right: 35%;
  font-family: 'Neue Montreal';
  font-size: 45px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.011em;
  text-align: left;
}

.ten_description {
  font-family: 'Neue Montreal';
  width: auto;
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.011em;
  text-align: left;
}

.ten_text {
  margin-right: 15%;
  font-family: 'Neue Montreal';
  font-size: 25px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: -0.011em;
  text-align: left;
}

.pointer {
  display: flex;
  width: 265px;
  height: auto;
}

.pict {
  position: relative;
  transform: scale(1);
}
