.ten {
  position: relative;
  width: 390px;
  padding: 0 5% 0;
}

.ten_row {
  display: block;
  padding: 5% 1% 25%;
}

.ten_title {
  width: auto;
  height: auto;
  padding: 2% 3% 1%;
  margin: 5% 0% 5%;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: -0.011em;
  text-align: left;
}

.ten_description {
  width: auto;
  padding: 7% 5% 7%;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.011em;
  text-align: left;
}

.ten_text {
  margin-right: 15%;
  font-family: 'Neue Montreal';
  font-size: 20px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: -0.011em;
  text-align: left;
}

.pointer {
  display: flex;
  width: 265px;
  height: auto;
}

.pict {
  position: relative;
  transform: scale(0.6);
}
