.ten_title {
  display: flex;
  justify-content: space-between;
}

.ten_row {
  display: flex;
  color: #FFFFFF;
  font-size: 8px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 0px;
}

.ten_title {
  padding: 10px 20px 0px 16px;
  text-align: left;
}

.ten_description {
  font-size: 4px;
  padding: 5px 20px 20px 50px;
}

p {
  position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ten_text {
  font-size: 5px;
  margin: 2px;
  text-align: left;
  color: #FFFFFF;
}

.pointer {
  display: flex;
  width: 55px;
  height: 10px;
}

.pict {
  position: relative;
  transform: scale(0.4);
}