.six {
  position: relative;
  width: 390px;
  padding: 0 5% 0;
}

.six_row {
  display: block;
  padding: 5% 1% 5%;
  color: #ffffff;
}

.six_title {
  width: auto;
  height: auto;
  padding: 2% 3% 1%;
  margin: 7% 0% 0%;
  margin-right: 0%;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.011em;
  text-align: left;
}

.six_description {
  font-family: 'Neue Montreal';
  padding: 2% 3% 1%;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.011em;
  text-align: left;
}

.six_description_text {
  color: #ffffff;
  margin: 10% 0% 10%;
  justify-content: space-between;
  text-align: left;
}

.six_description_signature {
  color: #ffffff;
  margin: 10% 0% 10%;
  justify-content: space-between;
  text-align: left;
  font-style: italic;
}
