.title {
  position: relative;
  width: 320px;
  padding: 0% 7% 0%;
}

.title_row {
  flex-direction: column;
  display: flex;
  color: #ffffff;
  font-size: 8px;
}

.title_text {
  order: 2;
  width: 100%;
  padding-left: 0%;
  margin-bottom: 0%;
  font-family: 'Neue Montreal';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.011em;
  text-align: left;
}

.title_filter {
  order: 1;
  padding: 2% 70% 0% 0%;
}

.button {
  height: 13px;
  width: 35px;
  padding-left: 5px;
  margin-left: 2px;
  margin-bottom: 3px;
  font-family: 'Comfortaa';
  font-size: 10px;
  color: #ffffff !important;
  border-radius: 7px;
  border: 1px solid #ffffff;
  background: var(--back);
  background: linear-gradient(to top, var(--back));
}

.button span {
  position: relative;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-size: 6px;
}

.title_line {
  bottom: 20px;
  width: 80%;
  height: 0.5px;
  border-radius: 1px;
  background: #ffffff;
}
