.title {
  position: relative;
  width: 480px;
  padding: 2% 3% 0;
}

.title_row {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  padding: 0%;
}

.title_text {
  order: 0;
  width: 70%;
  padding: 3%;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: -0.011em;
  text-align: left;
}

.button {
  position: relative;
  width: 70px;
  height: 22px;
  border-radius: 80px;
  top: 39%;
  left: 8%;
  font-family: 'Neue Montreal';
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.011em;
  text-align: left;
}

.button_one {
  position: relative;
  display: flex;
  left: 17%;
}

.button_two {
  position: relative;
  display: flex;
  left: 8%;
}

.title_filter {
  order: 1;
  position: static;
  padding: 0% 0% 9%;
  margin-right: 0%;
  margin-left: 0%;
}

.title_line {
  width: 92%;
  padding: 0 4% 0;
  margin-left: 3%;
  background: #ffffff;
}
