.title {
  position: relative;
  width: 1200px;
  padding: 0 5% 0;
}

.title_text {
  width: 71%;
  font-family: 'Neue Montreal';
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.011em;
  text-align: left;
}

.button {
  position: relative;
  width: 119px;
  height: 32px;
  border-radius: 80px;
  top: 45%;
  left: 10%;
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.011em;
}

.button_one {
  position: relative;
  display: flex;
  left: 20%;
}

.button_two {
  position: relative;
  display: flex;
  left: 13%;
}

.title_filter {
  display: flex;
  margin-left: 0%;
  column-gap: 3%;
}

.title_line {
  bottom: 20px;
  width: 80%;
  height: 0.5px;
  margin-left: 40px;
  background: #ffffff;
}

.title_line {
  width: 92%;
  top: 355.13px;
  left: 159px;
  background: #ffffff;
}
