.title {
  position: relative;
  width: 1440px;
  padding: 0 5% 0;
}

.title_text {
  width: 73%;
  padding-left: 3%;
  font-family: 'Neue Montreal';
  font-size: 40px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.011em;
  text-align: left;
}

.button {
  position: relative;
  width: 111px;
  height: 29px;
  border-radius: 80px;
  top: 50%;
  font-family: 'Neue Montreal';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.011em;
}

.button_two {
  position: relative;
  display: flex;
  left: 10%;
}

.title_filter {
  display: flex;
  margin-left: 3%;
  column-gap: 3%;
}

.title_line {
  bottom: 20px;
  width: 80%;
  height: 0.5px;
  margin-left: 40px;
  background: #ffffff;
}

.title_line {
  width: 92%;
  top: 355.13px;
  left: 159px;
  background: #ffffff;
}
