.title {
  position: relative;
  width: 992px;
  padding: 0 4% 0;
}

.title_row {
  display: flex;
  color: #ffffff;
  font-size: 8px;
  padding: 0%;
}

.title_text {
  padding: 3% 4% 0%;
  font-family: 'Neue Montreal';
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.011em;
  text-align: left;
}

.button {
  position: relative;
  width: 90px;
  height: 25px;
  border-radius: 80px;
  top: 32%;
}

.button span {
  position: relative;
  left: 10%;
  font-family: 'Neue Montreal';
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: -0.011em;
  text-align: left;
}

.title_filter {
  display: flex;
  padding: 0% 0% 0%;
  margin-left: 1%;
  column-gap: 3%;
}

.title_line {
  bottom: 20px;
  width: 80%;
  height: 0.5px;
  margin-left: 40px;
  background: #ffffff;
}

.title_line {
  width: 92%;
  top: 355.13px;
  left: 159px;
  background: #ffffff;
}
