.four {
  position: relative;
  width: 390px;
  padding: 10% 7% 10%;
}

.four_row {
  padding: 5% 1% 5%;
  display: block;
  color: #ffffff;
  flex-direction: row;
}

.four_title {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: auto;
  padding: 2% 3% 1%;
  margin: 7% 0% 5%;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: -0.011em;
  text-align: left;
}

.four_description {
  padding: 2% 3% 1%;
  font-family: 'Neue Montreal';
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.011em;
  text-align: left;
}

.four_description_text {
  position: relative;
  margin: 10% 0% 10%;
  color: #ffffff;
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
  text-align: left;
}
