.four_title {
  display: flex;
  justify-content: space-between;
}

.four_row {
  display: flex;
  color: #FFFFFF;
  font-size: 8px;
  padding-left: 40px;
}

.four_title {
  padding: 10px 35px 0px 16px;
  text-align: left;
}

.four_description {
  font-size: 4px;
  padding: 10px 20px 0 0;
}


p {
  position: relative;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.text {
  text-align: left;
}



