.header {
  width: 1200px;
  padding: 3%;
}

.header_row {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  float: left;
}

.header_logo {
  position: relative;
  transform: scale(1);
  left: 5%;
}
