.footer {
  position: relative;
  padding: 0 5% 0;
}

.footer_row {
  display: flex;
  padding: 1% 5% 0%;
}

.footer_title {
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: -0.011em;
  text-align: left;
}

.line {
  width: 92%;
  height: 0.5px;
  border-radius: 1px;
  background: #0c0c0c;
}

.footer_central {
  display: flex;
  width: 92%;
  height: auto;
}

.footer_central_left {
  padding: 3% 0% 0%;
  width: 500px;
  font-family: 'Neue Montreal';
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.011em;
  text-align: left;
}

.footer_central_rigth {
  position: relative;
  padding: 3% 0% 0%;
  left: 5%;
  font-size: 25px;
}

.central_left_mail {
  text-decoration: underline;
  margin: 0% 0 0%;
}

.footer_rigth_text {
  width: 300px;
  margin-bottom: 1%;
  font-family: 'Neue Montreal';
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.011em;
  text-align: left;
}

.central_left_text {
  margin: 2% 0% 2%;
}

.central_left_text_last {
  margin: 12% 0 0%;
}

.footer_rigth_container {
  position: relative;
  top: 3%;
}

.input {
  margin: 1% 0% 1%;
  display: flex;
  width: 390px;
  height: 31px;
  border-radius: 10px;
  background-color: #e8e8e8;
  color: #bfbfbf;
  text-indent: 3%;
  font-family: 'General Sans';
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: -0.011em;
}

.br {
  display: none;
}

.footer_last_block {
  display: flex;
  width: 92%;
  padding: 0% 3% 0%;
  margin-top: 3%;
}

.footer_pointer {
  color: #0c0c0c;
}

.checkbox {
  position: relative;
  left: 1%;
  display: flex;
  width: 15px;
  height: 15px;
  top: 15px;
}

.row_checkbox {
  display: flex;
}

.checkbox_description {
  top: 15px;
  padding-top: 0px;
  margin-left: 10px;
  font-family: 'Neue Montreal';
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.011em;
  text-align: left;
}

.last_block_col_one {
  position: relative;
  width: 300px;
  left: 2%;
}

.last_block_col_two {
  position: relative;
  width: 800px;
}

.last_block_col_three {
  position: relative;
  width: 300px;
  left: 15%;
}

.button_submit {
  display: flex;
  width: 160px;
  height: 50px;
  padding: 10px 50px 10px 50px;
  margin-left: 15px;
  border-radius: 13px;
  background-color: #0b0b0b66;
  font-size: 18.8px;
}

.button_menu_pointer {
  position: relative;
  transform: scale(0.4);
  left: 0px;
  top: 3px;
}

.button_menu {
  position: relative;
  width: 120px;
  height: 50px;
  padding: 10px 30px 10px 30px;
  gap: 15px;
  border-radius: 20px;
  background-color: #0c0c0c;
}

.burger {
  position: relative;
  transform: scale(1);
  padding-top: 15%;
  right: 10%;
}

.button_menu_submit {
  font-size: 15px;
  color: #ffffff;
  margin: 0px;
  top: 5px;
  left: 1px;
}

.button_menu_text {
  top: 0px;
  left: 10px;
  font-family: 'Manrope';
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.011em;
  text-align: left;
  color: #ffffff;
}

.footer_logo {
  transform: scale(0.8);
}

.logo_last {
  position: relative;
  float: right;
}
