.imageFirst {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1920 / 1152;
  margin: 2% 0% 0%;
  background-image: url('./../../img/MainImg.png');
}

.imageSecond {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1920 / 1152;
  margin: 3% 0% 0%;
  background-image: url('./../../img/secondImage.png');
}

.imageThird {
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1920 / 1152;
  margin: 3% 0% 0%;
  background-image: url('./../../img/thirdImage.png');
}

.imageFourth {
  width: auto;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1920 / 1152;
  margin: 3% 0% 0%;
  background-image: url('./../../img/fourthImage.png');
}
